body {
   font-family: Georgia, "Times New Roman", Times, serif;
   margin: 200px 100px 100px 200px;
}
.p font-size {
   font-size: 30px;
}
.textright {
   text-align: center;
}
.h1 font-size {
   font-weight: 700px;
}
.content {
   font-style: italic;
}
p {
   margin: 30px;
   font-size: 50px, center;
   font-style: italic;
}
img {
   margin: 150px;
   padding: 300px/300%;
   width: 500px;
}
.img {
}
.li span {
   font-weight: 700px;
}
.li {
   color: aqua;
}

.block {
   margin: 30px;
   margin-left: 300px;

   width: 100px;
   border-radius: 15px;
   box-shadow: 0 0 10px 0, #000;
   background-position: top left;
   background-color: #255768;
}
.decoration {
   text-decoration: line-through;
}
